# The Wazo on which you wish to work: [user@]wazo.example.com
hostname: wazo-dev

# The location of you local copy of the Wazo source code
local_source: ~/wazo

# The location of the source code that is synchronized on the Wazo server
remote_source: /usr/src/wazo

# The location of the project description file
project_file: ~/.config/wdk/project.yml

# The location of your local copy of the Wazo archived source code
# Default to 'local_source' directory
archive_dir: ~/wazo/archived

cache_dir: ~/.local/cache/wdk

rsync_only: false

# Your GitHub credentials. The token needs only read access.
github_username: john
github_token: 123456789abcdef0123456789abcdef012345678
# The GitHub organisations to clone from
github_orgs:
  - wazo-platform

# configuration affecting the init subcommand
init:
  # debian apt packages to install on the remote system when running the init subcommand
  packages:
    - rsync
    - python3-pip
